<!-- BLOG SECTION START -->
<div class="section-full p-t140 bg-repeat" style="background-image:url(assets/images/background/ptn-1.png);">
  <div class="container">
    <div class="section-content">
      <!-- TITLE START -->
      <div class="section-head text-left">
        <h2 class="text-uppercase font-36">Latest Blog</h2>
        <div class="wt-separator-outer">
          <div class="wt-separator"></div>
        </div>
      </div>
      <!-- TITLE END -->
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="overlay-wraper bg-no-repeat bg-cover latest-blog-dark-outer p-a20 m-b30" style="background-image:url(assets/images/blog/landscap-half/pic1.jpg);">
            <div class="overlay-main bg-black opacity-04"></div>
            <div class="latest-blog-dark text-uppercase p-a20">
              <h3 class="m-a0"><span class="text-white">Title of first blog post</span></h3>
              <div class="v-date  text-white font-weight-700">10 Aug 2016</div>
            </div>
          </div>
          <div class="overlay-wraper bg-no-repeat bg-cover latest-blog-dark-outer p-a20 m-b30" style="background-image:url(assets/images/blog/landscap-half/pic2.jpg);">
            <div class="overlay-main bg-black opacity-04"></div>
            <div class="latest-blog-dark text-uppercase p-a20">
              <h3 class="m-a0"><span class="text-white">Title of first blog post</span></h3>
              <div class="v-date  text-white font-weight-700">10 Aug 2016</div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="overlay-wraper bg-no-repeat bg-cover latest-blog-dark-outer2 m-b30" style="background-image:url(assets/images/blog/square/pic1.png);">
            <div class="overlay-main bg-black opacity-04"></div>
            <div class="latest-blog-square text-white">
              <h2 class="m-t0 m-b10"><span class="text-white font-30 text-uppercase">Small &
                  Minimal House On Paters on Hill</span></h2>
              <p class="font-weight-300">typefaces and layouts, and in appeara
                nce of different general the content of
                dummy text is nonsensical.typefaces
                of dummy text is nonsensical.</p>
              <a href="javascript:;" class="letter-spacing-4 font-12 text-white text-uppercase">Read
                More</a>
              <div class="v-date  text-white font-weight-700 text-uppercase">10 Aug 2016</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="hilite-title p-lr5 m-tb5 text-right text-uppercase bdr-gray bdr-right">
      <strong>Blog</strong>
      <span class="text-black">Post</span>
    </div>
  </div>
</div>
<!-- BLOG SECTION END -->