<!-- OUR EXPERTS SECTION START -->
<div class="section-full bg-gray square_shape3">
  <div class="container-fluid">
    <div class="section-content">
      <div class="row">
        <div class="col-md-6 col-sm-12 expert-bg1 square_shape1 square_shape2">
          <div class="wt-left-part m-experts p-t90">
            <!-- TITLE START -->
            <div class="section-head text-left text-white">
              <h2 class="text-uppercase font-36">Our experts</h2>
              <div class="wt-separator-outer">
                <div class="wt-separator2"></div>
              </div>
            </div>
            <!-- TITLE END -->
            <div class="wt-team-six large-pic">
              <div class="wt-team-media wt-thum-bx">
                <img src="assets/images/our-team5/pic1.jpg" alt="">
              </div>
              <div class="wt-team-info text-center p-lr10 p-tb20 text-white">
                <h2 class="wt-team-title text-uppercase"><a href="javascript:void(0);" class="text-white font-32 font-weight-500">Robert
                    willson</a></h2>
                <p class="font-22">Co-manager associated</p>
                <ul class="social-icons social-md social-square social-dark white-border has-bg">
                  <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                  <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                  <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                  <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                  <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                </ul>
              </div>
            </div>

            <div class="hilite-title p-lr50 m-tb50 text-left text-uppercase bdr-gray">
              <strong class="text-secondry">Experts</strong>
              <span class="text-white">Team Members</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="wt-right-part team-outer">
            <div class="row">
              <!-- COLUMNS 1 -->
              <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-tb15">
                <div class="wt-team-six bg-white">
                  <div class="wt-team-media wt-thum-bx wt-img-overlay1">
                    <img src="assets/images/our-team5/pic2.jpg" alt="">
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <ul class="social-icons social-square social-dark">
                          <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                          <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                          <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                          <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                          <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="wt-team-info text-center bg-gray p-lr10 p-tb20">
                    <h5 class="wt-team-title text-uppercase m-a0"><a href="javascript:void(0);">David
                        Gray</a></h5>
                    <p class="m-b0">Co-manager associated</p>
                    <!---->
                  </div>
                </div>
              </div>
              <!-- COLUMNS 2 -->
              <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-tb15">
                <div class="wt-team-six bg-white">
                  <div class="wt-team-media wt-thum-bx wt-img-overlay1">
                    <img src="assets/images/our-team5/pic3.jpg" alt="">
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <ul class="social-icons social-square social-dark">
                          <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                          <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                          <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                          <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                          <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="wt-team-info text-center bg-gray p-lr10 p-tb20">
                    <h5 class="wt-team-title text-uppercase m-a0"><a href="javascript:void(0);">Taylor
                        Roberts</a></h5>
                    <p class="m-b0">Co-manager associated</p>
                    <!---->
                  </div>
                </div>
              </div>
              <!-- COLUMNS 3 -->
              <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-tb15">
                <div class="wt-team-six bg-white">
                  <div class="wt-team-media wt-thum-bx wt-img-overlay1">
                    <img src="assets/images/our-team5/pic4.jpg" alt="">
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <ul class="social-icons social-square social-dark">
                          <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                          <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                          <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                          <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                          <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="wt-team-info text-center bg-gray p-lr10 p-tb20">
                    <h5 class="wt-team-title text-uppercase m-a0"><a href="javascript:void(0);">Robert
                        willson</a></h5>
                    <p class="m-b0">Co-manager associated</p>
                    <!---->
                  </div>
                </div>
              </div>
              <!-- COLUMNS 4 -->
              <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-tb15">
                <div class="wt-team-six bg-white">
                  <div class="wt-team-media wt-thum-bx wt-img-overlay1">
                    <img src="assets/images/our-team5/pic5.jpg" alt="">
                    <div class="overlay-bx">
                      <div class="overlay-icon">
                        <ul class="social-icons social-square social-dark">
                          <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                          <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                          <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                          <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                          <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="wt-team-info text-center bg-gray p-lr10 p-tb20">
                    <h5 class="wt-team-title text-uppercase m-a0"><a href="javascript:void(0);">Austin
                        Evon</a></h5>
                    <p class="m-b0">Co-manager associated</p>
                    <!---->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<!-- OUR EXPERTS SECTION END -->