<!-- OUR EXPERTS SECTION START -->
<div class="section-full bg-gray square_shape3" id="home-our-experts">
  <div class="container-fluid">
    <div class="section-content">
      <div class="row">
        <div class="col-md-6 col-sm-12 expert-bg1 square_shape1 square_shape2">
          <div class="wt-left-part m-experts p-t50 p-r90">
            <!-- TITLE START -->
            <div class="section-head text-left text-white">
              <h2 class="text-uppercase font-36">Our experts</h2>
              <div class="wt-separator-outer">
                <div class="wt-separator2"></div>
              </div>
            </div>
            <!-- TITLE END -->
            <div class="wt-team-six large-pic">
              <div class="wt-team-media wt-thum-bx">
                <img class="img-fluid" src="assets/images/our-team5/pic1.jpg" alt="">
              </div>
              <div class="wt-team-info text-center p-lr10 p-tb5 text-white">
                <h2 class="wt-team-title text-uppercase"><a href="javascript:void(0);" class="text-white font-32 font-weight-500">Robert
                    willson</a></h2>
                <p class="font-22">Co-manager associated</p>
                <ul class="social-icons social-md social-square social-dark white-border has-bg">
                  <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                  <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                  <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                  <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                  <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                </ul>
              </div>
            </div>

            <div class="hilite-title p-lr10 m-tb50 text-left text-uppercase bdr-gray">
              <strong class="text-secondry">Experts</strong>
              <span class="text-white">Team Members</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="p-lr80 p-t30" id="what-is">
            <div class="row">
              <div class="col-md-12 col-sm-12 text-justify">
                <h3 class="p-b60">What is Lorem Ipsum?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                  and
                  scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                  into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                  the
                  release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                  software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                  classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                  professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                  consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
                  literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of
                  "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This
                  book
                  is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem
                  Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>

                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                  Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
                  their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<!-- OUR EXPERTS SECTION END -->