<!-- COMPANY DETAIL SECTION START -->
<div class="section-full p-tb100 overlay-wraper bg-top-center bg-parallax" id="home-some-fact" data-stellar-background-ratio="0.5" style="background-image:url(assets/images/background/bg-11.jpg);">
  <div class="overlay-main opacity-08 bg-primary"></div>
  <div class="container ">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="some-facts">
          <div class="text-white text-uppercase">
            <span class="font-40 font-weight-300">Some</span>
            <h2 class="font-50">
              Intresting Facts
            </h2>
            <p class="font-18 font-weight-300">Morbi mattis ex non urna condimentum, eget eleif
              end diam molestie. Curabitur lorem enim, maximus
              non nulla sed, egestas venenatis felis.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="row some-facts-counter">
          <div class="col-md-4 col-sm-4">
            <div class="wt-icon-box-wraper p-a10 text-white m-b30">
              <div class="icon-content text-center">
                <div class="font-40 font-weight-600 m-b5"><span class="counter">451</span></div>
                <div class="wt-separator-outer m-b20">
                  <div class="wt-separator2"></div>
                </div>
                <span class="text-uppercase">Happy Clients</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="wt-icon-box-wraper p-a10 text-white m-b30">
              <div class="icon-content text-center">
                <div class="font-40 font-weight-600 m-b5"><span class="counter">532</span></div>
                <div class="wt-separator-outer m-b20">
                  <div class="wt-separator2"></div>
                </div>
                <span class="text-uppercase">Finished projects</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="wt-icon-box-wraper p-a10 text-white m-b30">
              <div class="icon-content text-center">
                <div class="font-40 font-weight-600 m-b5"><span class="counter">299</span></div>
                <div class="wt-separator-outer m-b20">
                  <div class="wt-separator2"></div>
                </div>
                <span class="text-uppercase">Working Days</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>
<!-- COMPANY DETAIL SECTION End -->

<div class="saral-border-2"></div>