<!-- HEADER START -->
<header class="site-header header-style-1  nav-wide">

  <div class="sticky-header main-bar-wraper">
    <div class="main-bar bg-white p-t10">
      <div class="container">
        <div class="logo-header">
          <div class="logo-header-inner logo-header-one">
            <a routerLink="/">
              <img src="assets/images/logo-dark.png" width="171" height="49" alt="" />
            </a>
          </div>
        </div>
        <!-- NAV Toggle Button -->
        <button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
     
    
        <!-- MAIN Vav -->
        <div class="header-nav navbar-collapse collapse">
          <ul class=" nav navbar-nav">
            <li class="active">
              <a routerLink="/">Home</a>
            </li>
            <li>
              <a routerLink="/about-us">About us</a>
            </li>
            <li>
              <a routerLink="/collections">Collections</a>
              <ul class="sub-menu">
                <li><a routerLink="/">Cantero Collection</a></li>
                <li><a routerLink="/">The Krossa Collection</a></li>
                <li><a routerLink="/">Ornek Collection</a></li>
                <li><a routerLink="/">Porous Collection</a></li>
              </ul>
            </li>
            <li>
              <a routerLink="/products">Products</a>
            </li>
            <li>
              <a routerLink="/blogs">Blogs</a>
            </li>
            <li>
              <a routerLink="/contact-us">Contact us</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>

</header>
<!-- HEADER END -->