<!-- CONTENT START -->
<div class="page-content ">
    <!-- INNER PAGE BANNER -->
    <div class="wt-bnr-inr overlay-wraper bg-parallax bg-top-center"  data-stellar-background-ratio="0.5"  style="background-image:url(assets/images/banner/3.jpg) ;">
        <div class="overlay-main bg-black opacity-07"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="text-white text-uppercase letter-spacing-5 font-18 font-weight-300">A truly integrated way of working.</h2>
                    </div>
                </div>
                <!-- BREADCRUMB ROW -->                            
                <div class="p-tb20">
                    <div>
                        <ul class="wt-breadcrumb breadcrumb-style-2">
                            <li><a href="javascript:void(0);">Home</a></li>
                            <li>Collection Detail</li>
                        </ul>
                    </div>
                </div>
                <!-- BREADCRUMB ROW END -->                        
            </div>
        </div>
    </div>
    <!-- INNER PAGE BANNER END -->
    
    <!-- SECTION CONTENT START -->
    <div class="section-full p-tb90 square_shape1 square_shape3" id="coll-dtl-section">
        <div class="container">
            <!-- BLOG START -->
            <div class="blog-post date-style-1 blog-detail text-black" id="coll-dtl">
                <div class="wt-post-media wt-img-effect zoom-slow">
                    <a href="javascript:void(0);"><img src="{{details[0].image}}" id="coll-dtl-img" alt=""></a>
                </div>
                        
                <div class="wt-post-title ">
                    <h2 class="post-title" id="coll-title"><a href="javascript:void(0);" class="text-black font-20 letter-spacing-2 font-weight-600">{{details[0].title}}</a></h2>
                </div>
                
                <div class="wt-post-text">
                    <p>{{details[0].description}}</p> 
                    <div [innerHtml]="details[0].html"></div>
                </div>
            </div>
            
            <div class="section-content">
                <!-- TITLE START -->
                <div class="text-left">
                    <h2 class="text-uppercase font-36">Related projects</h2>
                    <div class="wt-separator-outer">
                        <div class="wt-separator bg-black"></div>
                    </div>
                </div>
                <!-- TITLE END -->
                <!-- CAROUSEL -->
                <div class="section-content">
                        <div class="owl-carousel blog-related-slider owl-btn-top-right">
                            <!-- COLUMNS 1 --> 
                            <div class="item">
                                    <div class="blog-post blog-grid date-style-1">
                                    <div class="wt-post-media wt-img-effect zoom-slow">
                                        <a href="javascript:void(0);"><img src="assets/images/gallery/pic1.jpg" alt=""></a>
                                    </div>
                                    <div class="wt-post-info p-a20 bg-gray text-black">
                                        <div class="wt-post-title ">
                                            <h2 class="post-title"><a href="javascript:void(0);" class="text-black font-16 letter-spacing-2 font-weight-600">Triangle Concrete House on lake</a></h2>
                                        </div>
                                        <div class="wt-post-meta ">
                                            <ul>
                                                <li class="post-date"><strong>20 Feb</strong> <span> 2018</span> </li>
                                                <li class="post-author"><a href="javascript:void(0);">By <span>Admin</span></a> </li>
                                            </ul>
                                        </div>
                                        <div class="wt-post-text">
                                            <p>Adipisicing elit. Accusantium vitae, consequuntur minima tempora cupiditate ratione est, ad molestias deserunt in ipsam ea quasi cum.</p>  
                                        </div>
                                        <a href="Javascript:;" class="site-button black radius-no text-uppercase"><span class="font-12 letter-spacing-5"> Read More </span></a>
                                    </div>
                                </div>
                            </div>
                            <!-- COLUMNS 2 --> 
                            <div class="item">
                                    <div class="blog-post blog-grid date-style-1">
                                    <div class="wt-post-media wt-img-effect zoom-slow">
                                        <a href="javascript:void(0);"><img src="assets/images/gallery/pic2.jpg" alt=""></a>
                                    </div>
                                    <div class="wt-post-info p-a20 bg-gray text-black">
                                        <div class="wt-post-title ">
                                            <h2 class="post-title"><a href="javascript:void(0);" class="text-black font-16 letter-spacing-2 font-weight-600">Triangle Concrete House on lake</a></h2>
                                        </div>
                                        <div class="wt-post-meta ">
                                            <ul>
                                                <li class="post-date"><strong>20 Feb</strong> <span> 2018</span> </li>
                                                <li class="post-author"><a href="javascript:void(0);">By <span>Admin</span></a> </li>
                                            </ul>
                                        </div>
                                        <div class="wt-post-text">
                                            <p>Adipisicing elit. Accusantium vitae, consequuntur minima tempora cupiditate ratione est, ad molestias deserunt in ipsam ea quasi cum.</p>  
                                        </div>
                                        <a href="Javascript:;" class="site-button black radius-no text-uppercase"><span class="font-12 letter-spacing-5"> Read More </span></a>
                                    </div>
                                </div>
                            </div>
                            <!-- COLUMNS 3 --> 
                            <div class="item">
                                    <div class="blog-post blog-grid date-style-1">
                                    <div class="wt-post-media wt-img-effect zoom-slow">
                                        <a href="javascript:void(0);"><img src="assets/images/gallery/pic3.jpg" alt=""></a>
                                    </div>
                                    <div class="wt-post-info p-a20 bg-gray text-black">
                                        <div class="wt-post-title ">
                                            <h2 class="post-title"><a href="javascript:void(0);" class="text-black font-16 letter-spacing-2 font-weight-600">Triangle Concrete House on lake</a></h2>
                                        </div>
                                        <div class="wt-post-meta ">
                                            <ul>
                                                <li class="post-date"><strong>20 Feb</strong> <span> 2018</span> </li>
                                                <li class="post-author"><a href="javascript:void(0);">By <span>Admin</span></a> </li>
                                            </ul>
                                        </div>
                                        <div class="wt-post-text">
                                            <p>Adipisicing elit. Accusantium vitae, consequuntur minima tempora cupiditate ratione est, ad molestias deserunt in ipsam ea quasi cum.</p>  
                                        </div>
                                        <a href="Javascript:;" class="site-button black radius-no text-uppercase"><span class="font-12 letter-spacing-5"> Read More </span></a>
                                    </div>
                                </div>
                            </div>
                            <!-- COLUMNS 4 --> 
                            <div class="item">
                                    <div class="blog-post blog-grid date-style-1">
                                    <div class="wt-post-media wt-img-effect zoom-slow">
                                        <a href="javascript:void(0);"><img src="assets/images/gallery/pic4.jpg" alt=""></a>
                                    </div>
                                    <div class="wt-post-info p-a20 bg-gray text-black">
                                        <div class="wt-post-title ">
                                            <h2 class="post-title"><a href="javascript:void(0);" class="text-black font-16 letter-spacing-2 font-weight-600">Triangle Concrete House on lake</a></h2>
                                        </div>
                                        <div class="wt-post-meta ">
                                            <ul>
                                                <li class="post-date"><strong>20 Feb</strong> <span> 2018</span> </li>
                                                <li class="post-author"><a href="javascript:void(0);">By <span>Admin</span></a> </li>
                                            </ul>
                                        </div>
                                        <div class="wt-post-text">
                                            <p>Adipisicing elit. Accusantium vitae, consequuntur minima tempora cupiditate ratione est, ad molestias deserunt in ipsam ea quasi cum.</p>  
                                        </div>
                                        <a href="Javascript:;" class="site-button black radius-no text-uppercase"><span class="font-12 letter-spacing-5"> Read More </span></a>
                                    </div>
                                </div>
                            </div>
                            <!-- COLUMNS 5 --> 
                            <div class="item">
                                    <div class="blog-post blog-grid date-style-1">
                                    <div class="wt-post-media wt-img-effect zoom-slow">
                                        <a href="javascript:void(0);"><img src="assets/images/gallery/pic5.jpg" alt=""></a>
                                    </div>
                                    <div class="wt-post-info p-a20 bg-gray text-black">
                                        <div class="wt-post-title ">
                                            <h2 class="post-title"><a href="javascript:void(0);" class="text-black font-16 letter-spacing-2 font-weight-600">Triangle Concrete House on lake</a></h2>
                                        </div>
                                        <div class="wt-post-meta ">
                                            <ul>
                                                <li class="post-date"><strong>20 Feb</strong> <span> 2018</span> </li>
                                                <li class="post-author"><a href="javascript:void(0);">By <span>Admin</span></a> </li>
                                            </ul>
                                        </div>
                                        <div class="wt-post-text">
                                            <p>Adipisicing elit. Accusantium vitae, consequuntur minima tempora cupiditate ratione est, ad molestias deserunt in ipsam ea quasi cum.</p>  
                                        </div>
                                        <a href="Javascript:;" class="site-button black radius-no text-uppercase"><span class="font-12 letter-spacing-5"> Read More </span></a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                </div>
            </div>
            <!-- BLOG END -->        
        </div>
    </div>
    <!-- SECTION CONTENT END -->
</div>
<!-- CONTENT END -->