<!-- CLIENT LOGO SECTION START -->
<div class="our-client-section">
  <div class="container" style="margin-top: -15rem;">
    <div class="hilite-title p-lr20 m-tb20 text-right text-uppercase bdr-gray bdr-right">
      <strong>Client</strong>
      <span class="text-black">Says</span>
    </div>
  </div>
  <div class="container" style="margin-top: 5rem;">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <!-- TITLE START -->
        <div class="text-left">
          <h2 class="text-uppercase font-36 text-white">Our Clients</h2>
          <div class="wt-separator-outer">
            <div class="wt-separator bg-white"></div>
          </div>
        </div>
        <!-- TITLE END -->
      </div>

      <div class="col-md-8 col-sm-12">
        <div class="section-content bg-white p-tb10">
          <div class="owl-carousel home-client-carousel owl-btn-center-v">

            <div class="item">
              <div class="ow-client-logo">
                <div class="client-logo client-logo-media">
                  <a href="javascript:void(0);"><img src="assets/images/client-logo/w1.png" alt=""></a></div>
              </div>
            </div>

            <div class="item">
              <div class="ow-client-logo">
                <div class="client-logo client-logo-media">
                  <a href="javascript:void(0);"><img src="assets/images/client-logo/w2.png" alt=""></a></div>
              </div>
            </div>

            <div class="item">
              <div class="ow-client-logo">
                <div class="client-logo client-logo-media">
                  <a href="javascript:void(0);"><img src="assets/images/client-logo/w3.png" alt=""></a></div>
              </div>
            </div>

            <div class="item">
              <div class="ow-client-logo">
                <div class="client-logo client-logo-media">
                  <a href="javascript:void(0);"><img src="assets/images/client-logo/w4.png" alt=""></a></div>
              </div>
            </div>

            <div class="item">
              <div class="ow-client-logo">
                <div class="client-logo client-logo-media">
                  <a href="javascript:void(0);"><img src="assets/images/client-logo/w5.png" alt=""></a></div>
              </div>
            </div>

            <div class="item">
              <div class="ow-client-logo">
                <div class="client-logo client-logo-media">
                  <a href="javascript:void(0);"><img src="assets/images/client-logo/w6.png" alt=""></a></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CLIENT LOGO  SECTION End -->