<!-- INNER PAGE BANNER -->
<div class="wt-bnr-inr overlay-wraper bg-parallax bg-top-center" data-stellar-background-ratio="0.5" style="background-image:url(images/banner/3.jpg);">
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container">
    <div class="wt-bnr-inr-entry">
      <div class="banner-title-outer">
        <div class="banner-title-name">
          <h2 class="text-white text-uppercase letter-spacing-5 font-18 font-weight-300">Fusing logic with imagination
            and truth with discovery.</h2>
        </div>
      </div>
      <!-- BREADCRUMB ROW -->
      <div class="p-tb20">
        <div>
          <ul class="wt-breadcrumb breadcrumb-style-2">
            <li><a href="javascript:void(0);">Home</a></li>
            <li>Products</li>
          </ul>
        </div>
      </div>
      <!-- BREADCRUMB ROW END -->
    </div>
  </div>
</div>
<!-- INNER PAGE BANNER END -->

<!-- ABOUT COMPANY SECTION START -->
<div class="section-full p-tb90 bg-gray square_shape2">
  <div class="container">
    <div class="section-content ">
      <p>Saral Stone is one of the leading stone products manufacturers and suppliers that deals into natural stone,
        granites, sandstones and marbles, quartzite stone and artificial marbles. Like all other natural materials, the
        charisma of stone is linked to its uniqueness, a feature which is further emphasized by the unusual merger with
        industrialization processes and mass production.</p>

      <p>Life is blown into stone pieces at Saral Stone Laboratory for it has finest designers from France, Italy and
        Dubai. Advanced technology is used to reveal the latent beauty of stone along with performing additional
        research on lighting technology in the field of stone design.</p>

      <p>The extended research of Saral Stone holds a paramount importance and has resulted in an unprecedented
        offering of modular architectural solutions that are ready for use and created in the most durable natural
        material used by people with highly environment-friendly processing techniques.</p>

    </div>
  </div>
</div>
<!-- ABOUT COMPANY SECTION END -->