<!-- WHO WE ARE SECTION START -->
<div class="section-full p-t140 bg-repeat" style="background-image:url(images/background/ptn-1.png);">
  <div class="container-fluid">
    <div class="section-content">
      <div class="row">
        <div class="col-lg-6 col-md-4 col-sm-12">
          <div class="wt-left-part">
            <div class="text-uppercase">
              <span class="font-30 font-weight-300 text-primary">Wo we are </span>
              <h2 class="font-40 text-primary">
                We are creative architecture Studio
              </h2>
              <p>Dummy text is also used to demonstrate the appearance of different typefaces and
                layouts, and in general the content of dummy text is nonsensical. Due to its
                widespread use texts.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-12">
          <div class="m-carousel-2">
            <div class="owl-carousel carousel-hover home-carousel-2 owl-btn-vertical-center">
              <!-- COLUMNS 1 -->
              <div class="item">
                <div class="wt-box">
                  <div class="ow-img wt-carousel-block gradi-black">
                    <img src="assets/images/projects/pic-1.jpg" alt="">
                    <div class="p-a50 wt-carousel-info text-white">
                      <div class="carousel-line">
                        <h2 class="font-28 font-weight-400 m-b10">New Acropolis Museum</h2>
                        <p class="m-b0">Mattis ex non urna condimentum, eget eleifend
                          diam molestie. Curabitur lorem enimnulla sed,
                          egestas, maximus non nulla sed, egestas venenatis felis
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- COLUMNS 2 -->
              <div class="item">
                <div class="wt-box">
                  <div class="ow-img wt-carousel-block gradi-black">
                    <img src="assets/images/projects/pic-2.jpg" alt="">
                    <div class="p-a50 wt-carousel-info text-white">
                      <div class="carousel-line">
                        <h2 class="font-28 font-weight-400 m-b10">New Acropolis Museum</h2>
                        <p class="m-b0">Mattis ex non urna condimentum, eget eleifend
                          diam molestie. Curabitur lorem enimnulla sed,
                          egestas, maximus non nulla sed, egestas venenatis felis
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- COLUMNS 3 -->
              <div class="item">
                <div class="wt-box">
                  <div class="ow-img wt-carousel-block gradi-black">
                    <img src="assets/images/projects/pic-3.jpg" alt="">
                    <div class="p-a50 wt-carousel-info text-white">
                      <div class="carousel-line">
                        <h2 class="font-28 font-weight-400 m-b10">New Acropolis Museum</h2>
                        <p class="m-b0">Mattis ex non urna condimentum, eget eleifend
                          diam molestie. Curabitur lorem enimnulla sed,
                          egestas, maximus non nulla sed, egestas venenatis felis
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- COLUMNS 4 -->
              <div class="item">
                <div class="wt-box">
                  <div class="ow-img wt-carousel-block gradi-black">
                    <img src="assets/images/projects/pic-4.jpg" alt="">
                    <div class="p-a50 wt-carousel-info text-white">
                      <div class="carousel-line">
                        <h2 class="font-28 font-weight-400 m-b10">New Acropolis Museum</h2>
                        <p class="m-b0">Mattis ex non urna condimentum, eget eleifend
                          diam molestie. Curabitur lorem enimnulla sed,
                          egestas, maximus non nulla sed, egestas venenatis felis
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- COLUMNS 5 -->
              <div class="item">
                <div class="wt-box">
                  <div class="ow-img wt-carousel-block gradi-black">
                    <img src="assets/images/projects/pic-5.jpg" alt="">
                    <div class="p-a50 wt-carousel-info text-white">
                      <div class="carousel-line">
                        <h2 class="font-28 font-weight-400 m-b10">New Acropolis Museum</h2>
                        <p class="m-b0">Mattis ex non urna condimentum, eget eleifend
                          diam molestie. Curabitur lorem enimnulla sed,
                          egestas, maximus non nulla sed, egestas venenatis felis
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-bg-img">
              <img src="assets/images/slider-corner.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hilite-title p-lr20 m-tb20 text-left text-uppercase bdr-primary bdr-left">
        <strong>30+ Projects</strong>
        <span class="text-black">Completed</span>
      </div>
    </div>
  </div>
</div>
<!-- WHO WE ARE SECTION END -->