<!-- LATEST PRJECTS SLIDER START -->
<div style="background-image:url(assets/images/background/ptn-1.png);">
  <div class="section-full p-t90 p-lr80 latest_project-outer square_shape3">

    <!-- TITLE START -->
    <div class="section-head text-left">
      <div class="row">
        <div class="col-md-4">
          <h2 class="text-uppercase font-36">Latest Project</h2>
          <div class="wt-separator-outer">
            <div class="wt-separator"></div>
          </div>
        </div>
        <div class="col-md-8">
          <ul class="btn-filter-wrap">
            <li class="btn-filter btn-active" data-filter="*">All Project</li>
            <li class="btn-filter" data-filter=".building-col">Building</li>
            <li class="btn-filter" data-filter=".interior-col">Interior</li>
            <li class="btn-filter" data-filter=".restaurant-col">Restaurant</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- TITLE END -->

    <!-- IMAGE CAROUSEL START -->
    <div class="section-content">
      <div class="owl-carousel owl-carousel-filter owl-btn-bottom-left">
        <!-- COLUMNS 1 -->
        <div class="item fadingcol building-col">
          <div class="wt-img-effect ">
            <img src="assets/images/gallery/portrait/pic1.jpg" alt="">
            <div class="overlay-bx-2 ">
              <div class="line-amiation">
                <div class="text-white  font-weight-300 p-a40">
                  <h2><a href="javascript:void(0);" class="text-white font-20 letter-spacing-4 text-uppercase">Triangle
                      Concrete House on lake</a></h2>
                  <p>Morbi mattis ex non urna condimentum,
                    eget eleifend diam molestie. Curabitur
                    lorem enim, maximus non null.
                  </p>
                  <a href="javscript:;" class="v-button letter-spacing-4 font-12 text-uppercase p-l20">Read
                    More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- COLUMNS 2 -->
        <div class="item fadingcol  building-col">
          <div class="wt-img-effect ">
            <img src="assets/images/gallery/portrait/pic2.jpg" alt="">
            <div class="overlay-bx-2 ">
              <div class="line-amiation">
                <div class="text-white  font-weight-300 p-a40">
                  <h2><a href="javascript:void(0);" class="text-white font-20 letter-spacing-4 text-uppercase">Triangle
                      Concrete House on lake</a></h2>
                  <p>Morbi mattis ex non urna condimentum,
                    eget eleifend diam molestie. Curabitur
                    lorem enim, maximus non null.
                  </p>
                  <a href="javscript:;" class="v-button letter-spacing-4 font-12 text-uppercase p-l20">Read
                    More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- COLUMNS 3 -->

        <div class="item fadingcol building-col">
          <div class="wt-img-effect ">
            <img src="assets/images/gallery/portrait/pic3.jpg" alt="">
            <div class="overlay-bx-2 ">
              <div class="line-amiation">
                <div class="text-white  font-weight-300 p-a40">
                  <h2><a href="javascript:void(0);" class="text-white font-20 letter-spacing-4 text-uppercase">Triangle
                      Concrete House on lake</a></h2>
                  <p>Morbi mattis ex non urna condimentum,
                    eget eleifend diam molestie. Curabitur
                    lorem enim, maximus non null.
                  </p>
                  <a href="javscript:;" class="v-button letter-spacing-4 font-12 text-uppercase p-l20">Read
                    More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- COLUMNS 4 -->
        <div class="item fadingcol building-col">
          <div class="wt-img-effect ">
            <img src="assets/images/gallery/portrait/pic4.jpg" alt="">
            <div class="overlay-bx-2 ">
              <div class="line-amiation">
                <div class="text-white  font-weight-300 p-a40">
                  <h2><a href="javascript:void(0);" class="text-white font-20 letter-spacing-4 text-uppercase">Triangle
                      Concrete House on lake</a></h2>
                  <p>Morbi mattis ex non urna condimentum,
                    eget eleifend diam molestie. Curabitur
                    lorem enim, maximus non null.
                  </p>
                  <a href="javscript:;" class="v-button letter-spacing-4 font-12 text-uppercase p-l20">Read
                    More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- COLUMNS 5 -->
        <div class="item fadingcol interior-col">
          <div class="wt-img-effect ">
            <img src="assets/images/gallery/portrait/pic5.jpg" alt="">
            <div class="overlay-bx-2 ">
              <div class="line-amiation">
                <div class="text-white  font-weight-300 p-a40">
                  <h2><a href="javascript:void(0);" class="text-white font-20 letter-spacing-4 text-uppercase">Triangle
                      Concrete House on lake</a></h2>
                  <p>Morbi mattis ex non urna condimentum,
                    eget eleifend diam molestie. Curabitur
                    lorem enim, maximus non null.
                  </p>
                  <a href="javscript:;" class="v-button letter-spacing-4 font-12 text-uppercase p-l20">Read
                    More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- COLUMNS 6 -->
        <div class="item fadingcol restaurant-col">
          <div class="wt-img-effect ">
            <img src="assets/images/gallery/portrait/pic6.jpg" alt="">
            <div class="overlay-bx-2 ">
              <div class="line-amiation">
                <div class="text-white  font-weight-300 p-a40">
                  <h2><a href="javascript:void(0);" class="text-white font-20 letter-spacing-4 text-uppercase">Triangle
                      Concrete House on lake</a></h2>
                  <p>Morbi mattis ex non urna condimentum,
                    eget eleifend diam molestie. Curabitur
                    lorem enim, maximus non null.
                  </p>
                  <a href="javscript:;" class="v-button letter-spacing-4 font-12 text-uppercase p-l20">Read
                    More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- COLUMNS 7 -->
        <div class="item fadingcol restaurant-col">
          <div class="wt-img-effect ">
            <img src="assets/images/gallery/portrait/pic7.jpg" alt="">
            <div class="overlay-bx-2 ">
              <div class="line-amiation">
                <div class="text-white  font-weight-300 p-a40">
                  <h2><a href="javascript:void(0);" class="text-white font-20 letter-spacing-4 text-uppercase">Triangle
                      Concrete House on lake</a></h2>
                  <p>Morbi mattis ex non urna condimentum,
                    eget eleifend diam molestie. Curabitur
                    lorem enim, maximus non null.
                  </p>
                  <a href="javscript:;" class="v-button letter-spacing-4 font-12 text-uppercase p-l20">Read
                    More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- COLUMNS 8 -->
        <div class="item fadingcol interior-col">
          <div class="wt-img-effect ">
            <img src="assets/images/gallery/portrait/pic8.jpg" alt="">
            <div class="overlay-bx-2 ">
              <div class="line-amiation">
                <div class="text-white  font-weight-300 p-a40">
                  <h2><a href="javascript:void(0);" class="text-white font-20 letter-spacing-4 text-uppercase">Triangle
                      Concrete House on lake</a></h2>
                  <p>Morbi mattis ex non urna condimentum,
                    eget eleifend diam molestie. Curabitur
                    lorem enim, maximus non null.
                  </p>
                  <a href="javscript:;" class="v-button letter-spacing-4 font-12 text-uppercase p-l20">Read
                    More</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="hilite-title p-lr20 m-tb20 text-right text-uppercase bdr-gray bdr-right">
      <strong>Awesome</strong>
      <span class="text-black">Designs</span>
    </div>
  </div>
</div>
<!-- LATEST PRJECTS SLIDER END -->