<!-- CONTENT START -->
<div class="page-content">
  <!-- INNER PAGE BANNER -->
  <div class="wt-bnr-inr overlay-wraper bg-parallax bg-top-center" data-stellar-background-ratio="0.5" style="background-image:url(assets/images/banner/6.jpg);">
    <div class="overlay-main bg-custom-main opacity-05"></div>
    <div class="container"  id="blogs-container">
      <div class="wt-bnr-inr-entry">
        <div class="banner-title-outer">
          <div class="banner-title-name">
            <h2 class="text-white text-uppercase letter-spacing-5 font-18 font-weight-300">Architects with a different
              approach.</h2>
          </div>
        </div>
        <!-- BREADCRUMB ROW -->
        <div class="p-tb20">
          <div>
            <ul class="wt-breadcrumb breadcrumb-style-2">
              <li><a href="javascript:void(0);">Home</a></li>
              <li>Blogs</li>
            </ul>
          </div>
        </div>
        <!-- BREADCRUMB ROW END -->
      </div>
    </div>
  </div>
  <!-- INNER PAGE BANNER END -->

  <!-- SECTION CONTENT START -->
  <div class="section-full p-tb90 square_shape1" id="blog-section">

    <!-- GALLERY CONTENT START -->
    <div class="container">
      <div class="news-listing ">
        <!-- COLUMNS 1 -->
        <div *ngFor="let record of model; let i = index;" class="blog-post blog-md date-style-1 clearfix bdr-2 bdr-gray-light m-b60 bg-gray">
          <div class="wt-post-media wt-img-effect zoom-slow">
            <a href="javascript:void(0);"><img src="{{record.image}}" alt=""></a>
            <!-- <a href="javascript:void(0);"><img src="assets/images/gallery/pic2.jpg" alt=""></a> -->
          </div>
          <div class="wt-post-info p-tb30 text-black">
            <div class="wt-post-title ">
              <h2 class="post-title"><a href="javascript:void(0);" class="text-black font-20 letter-spacing-4 font-weight-600">{{record.title}}</a></h2>
            </div>
            <div class="wt-post-meta ">
              <ul>
                <li class="post-date"><strong>{{record.created_date}}</strong> <span>{{record.created_date}}</span> </li>
                <li class="post-author"><a href="javascript:void(0);">By <span>{{record.user_name}}</span></a> </li>
              </ul>
            </div>
            <div class="wt-post-text">
              <p>{{record.description}}</p>
            </div>
            <a routerLink="/blog-detail/{{record.id}}" class="v-button letter-spacing-4 font-12 text-uppercase">Read More</a>
          </div>
        </div>
      </div>
      <ul class="pagination m-tb0">
        <li><a href="#">«</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">»</a></li>
      </ul>
    </div>
    <!-- GALLERY CONTENT END -->

  </div>
  <!-- SECTION CONTENT END  -->

</div>
<!-- CONTENT END -->